.Lp3Options2 {
    margin-top: 30px;
}

.Lp3Options2>h1 {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-left: 70px;
}

.Lp3Optd5 {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    margin-left: 20px;
    justify-content: space-evenly;
}

.best__sellers>h1 {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-left: 70px;
}

.offers>h1 {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-left: 70px;
}

.offers>h3 {
    margin-left: 70px;
    font-size: 20px;
}