.design3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 0 20px;
    margin-right: 30px;
    align-items: center;
    padding: 5px;
}

.design3>img {
    width: 600px;
    height: 300px;
    padding: 5px;
}

.design3 p {
    width: 50%;
}

.aboutImg {
    margin-left: 50px;
    display: grid;

}

.aboutImg>p {
    font-size: 20px;
    margin-bottom: 30px;
    width: 70%;
}

/* .aboutImg>hr {
    width: 50%;
    color: lightgray;
    margin-bottom: 30px;
} */

.design3:hover {
    background-color: #EEEEEE;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.design3:hover h2 {
    color: black;
}